<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page index</title>
</head>
<body>
    <div class="container-fluid" id="main">
        <div class="row">
            <my-header></my-header>
            <my-siderbar></my-siderbar>
            <!-- 路由视图 -->
            <router-view></router-view>
            <my-footer></my-footer>
        </div>
    </div>
    <script src="../resources/js/require.js"></script>
    <script src="../resources/js/require.config.js"></script>
    <script src="../resources/js/pages/index.js"></script>
</body>
</html>
