<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page product</title>
</head>
<body>
    <header>
        <section id="header"></section>
    </header>
    <div class="content">
        <section id="siderbar"></section>
        <section id="content"></section>
    </div>
    <footer>
        <section id="footer"></section>
    </footer>
    <script src="../resources/js/require.js"></script>
    <script src="../resources/js/require.config.js"></script>
    <script src="../resources/js/pages/index.js"></script>
</body>
</html>

